@media only screen and (min-width: 771px){
    section p{
        color:  rgb(255, 115, 0);
        font-size: 2em;
        transition: 0.3s;
        margin-left: 5%;
    }
    section p a{
        text-decoration: none;
        color:  black;
        font-size: 1.5em;
    }
    section p a:hover{
        color: rgb(255, 115, 0);
        transition: 0.2s;
    }
}
@media only screen and (max-width: 770px){
    section p{
        color:  rgb(255, 115, 0);
        font-size: 1.5em;
        transition: 0.3s;
        margin-left: 5%;
    }
    section p a{
        text-decoration: none;
        color:  black;
        font-size: 1em;
    }
    section p a:hover{
        color: rgb(255, 115, 0);
        transition: 0.2s;
    }
}